<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Chicadresse</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="wsmenucontainer clearfix">
        <div class="overlapblackbg"></div>
        <div class="wsmobileheader clearfix">
            <a id="wsnavtoggle" class="animated-arrow"><span></span></a>
            <a class="smallogo">
                <img src="Webslide_files/sml-logo.png" alt="" width="87">
            </a>
            <a class="callusicon" href="tel:" title=""><span class="fa fa-phone"></span></a>
        </div>
        <div class="headtoppart clearfix">
            <div class="headerwp">
                <div class="headertopleft">
                    <div class="address clearfix">
                        <a href="javascript:void(0);" title="">
                            Accès Entreprise
                        </a>
                    </div>
                </div>
                <div class="headertopright">
                    <a class="facebookicon" href="#">
                        FAQ
                    </a>
                    <a href="@Url.Action("Logout","Login")" class="twittericon">Logout</a>
                    @*<a href="@Url.Action("Signup","Login")" class="twittericon">s’enregistrer</a>
                    <a href="@Url.Action("Index","Login")" class="linkedinicon">se connecter</a>*@
                </div>
            </div>
        </div>
        <div class="headerfull">
            <div class="wsmain">
                <div class="smllogo">
                    <a href="#">
                        <i class="logo"></i>
                    </a>
                </div>
                <nav class="wsmenu clearfix">
                    <ul class="mobile-sub wsmenu-list">
                        <li>
                            <span class="wsmenu-click"></span><a href="#" class="hvr-overline-from-center">mon Mariage</a>
                        </li>
                        <li>
                            <span class="wsmenu-click"></span>
                            <a href="#" class="hvr-overline-from-center">adresses</a>
                        </li>
                        <li>
                            <span class="wsmenu-click"></span>
                            <a href="#" class="hvr-overline-from-center">nos experts</a>
                        </li>
                        <li>
                            <span class="wsmenu-click"></span>
                            <a href="#" class="hvr-overline-from-center">Magazine</a>
                        </li>
                        <li>
                            <span class="wsmenu-click"></span>
                            <a href="#" class="hvr-overline-from-center">événements</a>
                        </li>
                        <li>
                            <span class="wsmenu-click"></span>
                            <a href="#" class="hvr-overline-from-center">Coin des créateurs</a>
                        </li>
                        <li>
                            <span class="wsmenu-click"></span>
                            <a href="#" class="hvr-overline-from-center">communauté </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="wrapper desbrd">

            <section class="web_banner" style="background-image:url(../../Content/images/banner_2.jpg);background-repeat:no-repeat;background-size:cover;">
                <div class="container">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
                        <span class="calendr"></span>
                        <h6>@UserSession.MarriageDate.ToDateTimeString()</h6>
                        <div class="profile_box">
                            <div class="boy_box">
                                @if (UserSession.MyPic != "")
                                {
                                    <img src=@UserSession.MyPic class="man_bg" id="a-profile-pic-modal" />
                                }
                                else
                                {
                                    <img src="~/Content/images/booy.png" class="man_bg" id="a-profile-pic-modal" />
                                }
                                <small>@UserSession.Name</small>
                            </div>
                            <span class="and_text">& </span>
                            <div class="gl_box">
                                @if (UserSession.MyPartnerPic != "")
                                {
                                    <img src=@UserSession.MyPartnerPic class="woman_bg" id="awomen-profile-pic-modal" />
                                }
                                else
                                {
                                    <img src="~/Content/images/girll.png" class="woman_bg" id="awomen-profile-pic-modal" />
                                }
                                <small>@UserSession.PartnerName</small>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <span class="il">Il reste ...</span>
                        <div class="col-sm-4 col-sm-offset-4 clck">
                            <div id="clockdiv">
                                <div class="clck">
                                    <span class="days"></span>
                                    <p>Jours</p>
                                </div>
                                <div class="clck">
                                    <span class="hours"></span>
                                    <p>Heures</p>
                                </div>
                                <div class="clck">
                                    <span class="minutes"></span>
                                    <p>Minutes</p>
                                </div>
                                <div class="clck">
                                    <span class="seconds"></span>
                                    <p>Secondes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="sub_menufullwidth">
                <div class="container">
                    <div class="row">
                        <div class="sub_menu">
                            <ul class="list_sub_menu">

                                <li class="active">
                                    <a href="@Url.Action("Index", "Dashboard")" class="wed i_rings">mon Mariage</a>

                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Dashboard")" class="task i_write_feedback">Profile</a>

                                </li>

                                <li>
                                    <a href="@Url.Action("Checklist", "Dashboard")" class="vndr i_hotel_restaurant_16">Taches</a>

                                </li>

                                <li>
                                    <a href="@Url.Action("Prestataires", "Dashboard")" class="gst i_live_contest">Prestataires</a>

                                </li>

                                <li>
                                    <a href="@Url.Action("Index", "Dashboard")" class="tble i_dinner_table">Budget</a>

                                </li>

                                <li>
                                    <a href="@Url.Action("Index", "Invites")" class="bdg i_official_document">Invites</a>

                                </li>

                                <li>
                                    <a href="@Url.Action("Index", "Dashboard")" class="drss i_wedding_dress">Tables</a>

                                </li>

                                <li>
                                    <a href="@Url.Action("Index", "Dashboard")" class="web i_tv_television">Messages</a>
                                </li>


                            </ul>
                            <div class="clearfix"></div>

                        </div>
                        <div class="ttl_box">
                            <h3><i class="gst i_live_contestt"></i> Trouvez le prestataire de votre choix pres de chez vous</h3>
                            <div class="clearfix"></div>

                        </div>
                        <div class="serch_box">
                            <form>
                                <div class="form-group col-sm-5">
                                    <input type="text" class="form-control" id="teett" placeholder="Que cherchez-vous?" />
                                </div>
                                <div class="form-group col-sm-4">
                                    <input type="text" class="form-control" placeholder="Sélcetionnez votre ville" id="teet" />
                                </div>
                                <div class="col-sm-3">
                                    <button type="submit" class="btn btn-default btnsbmit">Chercher</button>
                                </div>
                            </form>
                            <div class="clearfix"></div>
                        </div>

                    </div>

                </div>
            </section>

            @RenderBody()

            @if (ShowCategories == true)
            {
                <section class="top_footer_box">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-3">
                                    <ul class="unstyled">
                                        <h3>Wedding Venues</h3>
                                        <li>
                                            <a href="#">Mansion weddings <span>10</span></a>
                                        </li>
                                        <li>
                                            <a href="#">Wedding venue hotels <span>46</span></a>
                                        </li>
                                        <li>
                                            <a href="#">Wedding in restaurant <span>46</span></a>
                                        </li>
                                        <li>
                                            <a href="#">Catering for a wedding <span>46</span></a>
                                        </li>
                                        <li>
                                            <a href="#">Wedding castle venues <span>46</span></a>
                                        </li>
                                        <li>
                                            <a href="#">Unique venue <span>46</span></a>
                                        </li>
                                        <li>
                                            <a href="#">Barn wedding <span>46</span></a>
                                        </li>
                                        <li>
                                            <a href="#">Town halls for hire <span>46</span></a>
                                        </li>
                                        <li>
                                            <a href="#">Conference centers <span>46</span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <ul class="unstyled">
                                        <h3>Wedding Suppliers</h3>
                                        <li>
                                            <a href="#">Wedding invitations <span>10</span></a>
                                        </li>
                                        <li>
                                            <a href="#">Favors for weddings <span>46</span></a>
                                        </li>
                                        <li>
                                            <a href="#">Photographer for wedding <span>46</span></a>
                                        </li>
                                        <li>
                                            <a href="#">Wedding videographer <span>46</span></a>
                                        </li>
                                        <li>
                                            <a href="#">Wedding music for ceremony <span>46</span></a>
                                        </li>
                                        <li>
                                            <a href="#">Car for wedding <span>46</span></a>
                                        </li>
                                        <li>
                                            <a href="#">Marquee rental <span>46</span></a>
                                        </li>
                                        <li>
                                            <a href="#">Wedding entertainment <span>46</span></a>
                                        </li>
                                        <li>
                                            <a href="#">Wedding flower shops <span>46</span></a>
                                        </li>
                                        <li>
                                            <a href="#">Weddings planner <span>46</span></a>
                                        </li>
                                        <li>
                                            <a href="#">Wedding and honeymoon <span>46</span></a>
                                        </li>
                                        <li>
                                            <a href="#">Wedding decorating <span>46</span></a>
                                        </li>
                                        <li>
                                            <a href="#">Wedding cakes <span>46</span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <ul class="unstyled">
                                        <h3>Brides</h3>
                                        <li>
                                            <a href="#">Bridal dresses <span>10</span></a>
                                        </li>
                                        <li>
                                            <a href="#">Wedding accessories <span>46</span></a>
                                        </li>
                                        <li>
                                            <a href="#">Wedding jewellery <span>46</span></a>
                                        </li>
                                        <li>
                                            <a href="#">Wedding hair <span>46</span></a>
                                        </li>
                                        <li>
                                            <a href="#">Wedding make up <span>46</span></a>
                                        </li>
                                        <li>
                                            <a href="#">Evening dresses<span>46</span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <ul class="unstyled">
                                        <h3>Grooms</h3>
                                        <li>
                                            <a href="#">Wedding suits <span>10</span></a>
                                        </li>
                                        <li>
                                            <a href="#">Men's accessories <span>46</span></a>
                                        </li>
                                        <li>
                                            <a href="#">Men's beauty <span>46</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            }
            <!--footer start from here-->
            <footer class="copyright">
                <div class="container">
                    <div class="col-md-4">
                        <p> © <a href="javascript:void(0);">chicadresse</a> 2017 tout les droit reserver</p>
                    </div>
                    <div class="col-md-8">
                        <ul class="bottom_ul">
                            <li>
                                <a href="#">My wedding</a>
                            </li>
                            <li>
                                <a href="#">Wedding Venues</a>
                            </li>
                            <li>
                                <a href="#">Wedding Suppliers</a>
                            </li>
                            <li>
                                <a href="#">Brides</a>
                            </li>
                            <li>
                                <a href="#">Grooms</a>
                            </li>
                            <li>
                                <a href="#">Wedding Tips</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="profile-pic-modal" role="dialog">
        <div class="modal-dialog" style="left:0%">

            <!-- Modal content-->
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="fa fa-times"></i>
                    </button>
                    <h2 class="modal-title">My wedding</h2>
                </div>
                <div class="modal-body">

                    <iframe name="formImageCrop" style="display:none;"></iframe>
                    <form class="pure-form app-tools-wedding-modal-form" name="frmBoda" action="/Dashboard/WeddingRun" method="post" enctype="multipart/form-data">
                        <div id="wedding-exit" class="alert alert-success" style="display:none;">All changes have been saved.</div>
                        <div id="wedding-ko" class="alert alert-error" style="display:none;">It was not possible to save your changes. Please try again later.</div>

                        <div class="border-bottom p20">
                            <div class="pure-g-r">
                                <div class="pure-u-1-3 mt10">
                                    <label class="fs16">Wedding date</label>
                                </div>

                                <div class="pure-u app-common-datepicker">
                                    <input id="Fecha" placeholder="dd/mm/yyyy" data-date-weekstart="1" data-date-format="dd/mm/yyyy" data-date-viewmode="years" autocomplete="off" type="text" name="date" size="20" maxlength="20" value=@ViewBag.MarriageDate readonly="">
                                    <a href="#" class="mt5 ml5"><i class="fa fa-calendar fs18"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="p20 wed-portrait">
                            <div class="pure-g-r wed-pics">
                                <div class="pure-u-1-2">
                                    <div class="text-center">
                                        <p class="fs14 mb5">I am</p>

                                        <div class="frame pure-u relative app-coupledata-owner app-owner app-spinner-container" data-rol="owner">
                                            <div class="upl-foto">
                                                <a href="javascript:void(0);" class="fs18">
                                                    <i class="fa fa-pencil app-pencil-profile app-pencil-owner"></i>
                                                    <input id="photo_1" type="file" name="foto1">
                                                </a>
                                            </div>
                                            <label for="photo_1" class="frame-inputFile">
                                                <img class="app-tools-wedding-foto-owner" alt="latika" width="120" border="0" src="https://cdn1.weddingspot.co.uk/assets/img/user/120x120/user-female-120.jpg?r=823206378">
                                            </label>
                                        </div>
                                        <div class="mt10">
                                            <input type="text" name="ownerName" value="latika" size="20" maxlength="150" placeholder="Name">
                                        </div>
                                    </div>
                                </div>

                                <div class="pure-u-1-2">
                                    <div class="text-center">
                                        <p class="fs14 mb5 mr5">My partner</p>
                                        <div class="frame pure-u relative app-coupledata-owner app-partner app-spinner-container" data-rol="partner">
                                            <div class="upl-foto">
                                                <a href="javascript: void(0);" class="fs18">
                                                    <i class="fa fa-pencil app-pencil-profile app-pencil-partner"></i>
                                                    <input id="photo_2" type="file" name="foto2">
                                                </a>
                                            </div>
                                            <label for="photo_2" class="frame-inputFile">
                                                <img class="app-tools-wedding-foto-partner" alt="latika" width="120" border="0" src="https://cdn1.weddingspot.co.uk/assets/img/user/120x120/user-male-120.jpg?r=1624903223">
                                            </label>
                                        </div>
                                        <div class="mt10">
                                            <input type="text" name="partnerName" value="Chirag" size="20" maxlength="150" placeholder="Name">
                                        </div>
                                        <div class="select-fake mt15" style="width:160px;">
                                            <select name="partnerRol" class="app-tools-wedding-change-foto-partner">
                                                <option data-img-default="https://cdn1.weddingspot.co.uk/assets/img/user/120x120/user-male-120.jpg" value="GROOM" selected="">Groom</option>
                                                <option data-img-default="https://cdn1.weddingspot.co.uk/assets/img/user/120x120/user-female-120.jpg" value="BRIDE">Bride</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input class="btn btn-primary" type="submit" value="Save">
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#a-profile-pic-modal").click(function () {
                $("#profile-pic-modal").modal();
            });
            $("#awomen-profile-pic-modal").click(function () {
                $("#profile-pic-modal").modal();
            });
        });
    </script>

    @*<script src="~/Content/js/js-ssl-utf8-ssl20170821-02UK97-1-common.js"></script>*@
    <script src="~/Content/js/jquery_1.js"></script>


    <script type="text/javascript" src="~/Content/js/bootstrap.js"></script>

    <script type="text/javascript" src="~/Content/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/Content/js/menu.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap-touch-slider-min.js"></script>
    <script type="text/javascript">
        $('#bootstrap-touch-slider').bsTouchSlider();
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var mySelect = $('#first-disabled2');
        });
    </script>
    <script type="text/javascript">
        function getTimeRemaining(endtime) {
            var t = Date.parse(endtime) - Date.parse(new Date());
            var seconds = Math.floor((t / 1000) % 60);
            var minutes = Math.floor((t / 1000 / 60) % 60);
            var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
            var days = Math.floor(t / (1000 * 60 * 60 * 24));
            return {
                'total': t,
                'days': days,
                'hours': hours,
                'minutes': minutes,
                'seconds': seconds
            };
        }

        function initializeClock(id, endtime) {
            var clock = document.getElementById(id);
            var daysSpan = clock.querySelector('.days');
            var hoursSpan = clock.querySelector('.hours');
            var minutesSpan = clock.querySelector('.minutes');
            var secondsSpan = clock.querySelector('.seconds');

            function updateClock() {
                var t = getTimeRemaining(endtime);

                daysSpan.innerHTML = t.days;
                hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
                minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
                secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

                if (t.total <= 0) {
                    clearInterval(timeinterval);
                }
            }

            updateClock();
            var timeinterval = setInterval(updateClock, 1000);
        }

        //var deadline = new Date(Date.parse(new Date()) + 15 * 24 * 60 * 60 * 1000);

        var deadline = new Date(Date.parse('@ViewBag.dt'));

        initializeClock('clockdiv', deadline);
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>