@model IEnumerable<TaskViewModel>
@{
    ViewBag.Title = "Checklist";
}

@Styles.Render("~/Content/css")
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container">
    <div class="row">
        <section class="left_right_dash tech">
            <div class="col-sm-9 no_left_pdg">
                <div class="row_">
                    <div class="ttl_box new_ttl">
                        <h3><i class="vndr i_hotel_restaurant_166"></i> Vos prochaine teche a effectuer</h3>
                        <a href="javascript:void(0);" class="pdf_btn">Telecharger PDF</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="list_dashbord">
                        @foreach (var m in ViewBag.TotalMonths)
                        {
                            <div class="panel panel-default first_pannel">
                                <!-- Default panel contents -->
                                <!-- List group -->
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        Before @m month
                                    </h3>
                                    <span>
                                        @ViewBag.TotalTaskCompleted taches de @ViewBag.TaskCount effectuer
                                        <a href="javascript:void(0);" class="span_btn" id="a-tool-modal" onclick="return addnewtask(@m);">ajouter une tache</a>  @*data-id="@m"*@
                                    </span>
                                    <div class="clearfix"></div>
                                </div>
                                <ul class="list-group">
                                    @foreach (var item in Model)
                                    {
                                        if (item.TimeMonth == m)
                                        {
                                            <li class="list-group-item clearfix">
                                                <a href="javascript:void(0);" id="checkTaskStat">
                                                    @if (item.CompletionStatus == true)
                                                    {
                                                        <h3 class="lline"><i class="right_icon"></i>@item.Title</h3><input type="hidden" value="@item.TaskId" />
                                                    }
                                                    else
                                                    {
                                                        <h3><i class="rclock_icon"></i>@item.Title</h3><input type="hidden" value="@item.TaskId" />
                                                    }
                                                </a>
                                                <ul class="icn_rightlist">
                                                    <li>
                                                        <a href="@Url.Action("DeleteTask", "Dashboard", new { taskId = item.TaskId })"><i class="gst dlt"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" id="open-edit-modal" onclick="return edittask(@item.TaskId);"><i class="gst pencil"></i></a>
                                                        @*<a href="#edit-tool-modal" data-toggle="modal" data-id=@item.TaskId class="open-EditTaskDialog"><i class="gst pencil"></i></a>*@
                                                    </li>
                                                </ul>

                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        }

                    </div>
                </div>

                <div class="ad_box">
                    <img src="~/Content/images/ad_full.jpg" class="img-responsive" alt="" usemap="#Mapp" />
                    <map name="Mapp" id="Mapp">
                        <area alt="" title="" href="#" shape="rect" coords="690,62,835,27" />
                    </map>
                </div>

            </div>
            <div class="col-sm-3 padding-right">
                <section class="ads_right_box">
                    <a href="javascript:void(0);">
                        <img src="~/Content/images/jeff.jpg" class="img-responsive" />
                    </a>
                </section>

                <section class="choos_color">
                    <img src="~/Content/images/ad4.jpg" class="img-responsive" usemap="#Map" />
                    <map name="Map" id="Map">
                        <area href="javascript:void(0);" shape="rect" coords="61,639,220,598" />
                    </map>
                </section>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </section>
    </div>
</div>


<div id="edit-tool-modal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="left:0%;">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="ttl_box new_ttl">
                    <h3><i class="vndr i_hotel_restaurant_166"></i>Editer une taches</h3>
                </div>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <form role="form" action="/Dashboard/ChecklistEditRun" method="post">
                    <div class="form-group">
                        <label for="InputEmail1">Nom de la Taches</label>
                        <input type="text" class="form-control" id="InputEmail1" name="InputEmail1" />
                        <input type="hidden" id="taskId" name="taskId" />
                    </div>
                    <div class="form-group">
                        <label for="Description">Description</label>
                        <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
                    </div>
                    <input type="submit" class="btn btn-default modelbtn" value="Editer une taches" />
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="tool-modal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="left:0%;">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="ttl_box new_ttl">
                    <h3><i class="vndr i_hotel_restaurant_166"></i>Ajouter une taches</h3>
                </div>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <form role="form" id="frmToolLayer" name="frmToolLayer" action="/Dashboard/ChecklistAddRun" target="frameToolLayer" method="post">
                    <div class="form-group">
                        <label for="InputEmail1">Nom de la Taches</label>
                        <input type="text" class="form-control"
                               id="InputEmail1" name="InputEmail1" />
                        <input type="hidden" id="timemonthid" name="timemonthid" />
                    </div>
                    <div class="form-group">
                        <label for="Description">Description</label>
                        <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
                    </div>
                    <input type="submit" class="btn btn-default modelbtn" value="Ajouter la tache" />
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function addnewtask(timemonthId) {
        debugger;
        $(".modal-body #timemonthid").val(timemonthId);
        $("#tool-modal").modal();
    }

    function edittask(taskId) {
        debugger;
        $.ajax({
            url: '@Url.Action("ChecklistGetTaskById", "Dashboard")',
            type: 'GET',
            dataType: "json",
            data: { taskId: taskId },
            success: function (result) {
                debugger;
                $(".modal-body #InputEmail1").val(result.Title);
                $(".modal-body #comment").val(result.Description);
                $(".modal-body #taskId").val(result.TaskId);

                $("#edit-tool-modal").modal();
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

</script>

<script type="text/javascript">
    $(document).ready(function () {
        
        $('.rclock_icon').click(function () {
            debugger;
            $(this).toggleClass('right_icon rclock_icon');
            $(this).parent().addClass('lline');
            var taskId = $(this).parent().siblings()[0].value;
            var icon = $(this)[0].className;
            var checkStatus = false;
            if (icon == "right_icon")
                checkStatus = true;
            $.ajax({
                url: '@Url.Action("SetTaskCompletionStatus", "Dashboard")',
                type: 'POST',
                dataType: "json",
                data: { taskId: taskId, checkStatus: checkStatus },
                success: function (result) {
                    debugger;

                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });

        $(".progress-bar").css("width", '@ViewBag.TotalTaskCompleted');
    });

</script>








